@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  color-scheme: light;
}

body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

.background {
  background: rgb(172, 244, 247);
  background: -moz-linear-gradient(
    90deg,
    rgba(172, 244, 247, 0.6021044075144508) 0%,
    rgba(45, 197, 255, 0.30152637283236994) 51%,
    rgba(89, 172, 247, 0.39979226878612717) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(172, 244, 247, 0.6021044075144508) 0%,
    rgba(45, 197, 255, 0.30152637283236994) 51%,
    rgba(89, 172, 247, 0.39979226878612717) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(172, 244, 247, 0.6021044075144508) 0%,
    rgba(45, 197, 255, 0.30152637283236994) 51%,
    rgba(89, 172, 247, 0.39979226878612717) 100%
  );
  min-height: 100vh; /* Nastaví výšku elementu na 100% viewportu */
  width: 100%; /* Nastaví šířku elementu na 100% */
}
